@import "reset.css";

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 30px;
  padding: 8px;

  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.item-img {
  position: relative;
}

img {
  display: block;

  width: 150px;
  height: 150px;
  margin: 0 auto;

  border: 3px dashed pink;
  border-radius: 50%;

  object-fit: cover;
}

.item-img::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 50px;
  height: 50px;
  margin: 0 auto;

  content: "";

  background-color: blue;
}

h2 {
  margin-bottom: 10px;

  font-size: 40px;
  font-weight: bold;
}

p {
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.2;
}
